@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e9ecef;
  --foreground: #212529;
  --button-bg: #28a745;
  --button-hover-bg: #218838;
  --card-bg: #ffffff;
  --border-color: #ced4da;
}

body {
  color: var(--foreground);
  background: #06083d url('../assets/img/qqquad.svg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Arial', 'Helvetica', sans-serif;
  line-height: 1.6;
}

h1, h2 {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

